.head-img {
  overflow: hidden;
  height: 228px;
  background: center no-repeat;
  background-size: 100%;
  background-image: url('https://pic3.zhimg.com/v2-f53dc463ccb3a0218c0880395208c159_r.jpg');
  background-position: 0% 50%;
  cursor: pointer;
  .name {
    text-align: center;
    background: #ccc;
    opacity: 0;
    height: 228px;
    line-height: 228px;
    color: white;
    font-size: 30px;
    letter-spacing:15px;
  }
}
.head-img:hover {
  .name {
    opacity: 0.5;
  }
}
